body {
	width: 320px;
	height: 480px;
	padding: 0px;
	margin: 0px;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	position: absolute;
	background-image: url("img/bg.jpg");
}

canvas {
	position: absolute;;
	top:100px;
	left : 0px;
	width: 640px;
	height: 640px;
	-moz-background-size:contain;
	background-size: contain;
	background-image: url("img/back.svg");
}

#nav {
	background-color: #ff4b5a;
	width : 640px;
	height: 100px;
}

#menuBtn {
	width: 74px;
	height: 74px;
	position: absolute;
	left: 10px;
	top: 10px;
}

#head {
	width: auto;
height: 74px;
position: absolute;
left: 70px;
top: 10px;
}

#floatingMenu {
	width: 640px;
	height: 640px;
	background-image: url("img/floatingBack.svg");
	position: absolute;
	top:88px;
	left: 0px;
	visibility: hidden;
}

#ballBtn {
	position: absolute;
	top:770px;
	left: 180px;
}

#chartBtn {
	position: absolute;
	top:770px;
	left: 380px;
}

#startView {
	position: absolute;
	top : 0px;
	left: 0px;
	background-image: url("img/start.png");
	-moz-background-size:contain;
	background-size: contain;
	width: 640px;
	height: 960px;
}

.disable {
	opacity: 0.3;
}